services:
    router:
        setup:
            - offsetSet: [null, @router.web]
        factory: Module\Web\RouterFactory::create
        type: Nette\Routing\Router
        autowired: no

    router.web:
        factory: Module\Web\RouterFactory::create
